[include]
  path = /Users/kanta/.config/git/config

[include]
  path = /Users/kanta/.config/git/config.local

[includeIf "gitdir:/Users/kanta/dev/company/plus/"]
  path = /Users/kanta/.config/git/config.work
